body{
    background-color:#03122f;
    padding:0;
    margin:0;
}

.grid{
    height:400px;
    width:400px;
    display:flex;
    flex-wrap:wrap;
    background-color:#D1D4BD;
    position: ABSOLUTE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.grid div{
    height: 40px;
    width: 40px;
}

/* .bomb{
    background-color:orange;
    
} */

.checked{
    background-color:#f1f6ce;
}

.refresh{
    position: ABSOLUTE;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:black;
    border:none;
    color:white;
    padding:1rem 2rem;
}

