/* Section 1 - Basic */

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
  background-color: #0A5B54;
}

#webPage{
  font-size: 5vw;
  font-family:fantasy;
  padding-top:10px;
  text-align: center;
  color: #E5A46E;
  font-family: 'Oswald', sans-serif;
}

.navBar{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: black;
}

li a{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-family: fantasy;
  font-size:2vw;
}

li a:hover{
  background-color:#34776C;
}

/* Section 2 - Game */

#player{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 4.3vw;
  margin:1.2vw;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 610px;
  height: 610px;
  background-color: black;
  margin-left: auto;
  margin-right:auto;
}

.grid div{
  width: 200px;
  height: 200px;
  background-color: #E5A46E;
  margin-bottom: 5px;
}

.playerX{
  background-image: url('../../Image/X.png')
}

.playerO{
  background-image: url("../../Image/O.png")
}

.buttonContainer{
  text-align:center;
  margin-top:2.3vw;
}

#restartButton{
  padding:1vw 8.3vw 1vw 8.3vw;
  border-radius: 10px 0px 10px 0px;
  margin:auto;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  visibility: hidden;
  background-color: #DB595A;
}

#restartButton:hover{
  background-color: #bd5152;
}
