
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/*
  Cranberry: #DB595A;
  Melon: #E5A46E;
  Deep Teal: #125669;
  Jade: #0A5B54;
*/

body{
  /* background-color:#6b1900; */
  background-color: #0A5B54;
}

#webPage{
  font-size: 5vw;
  font-family:fantasy;
  padding-top:10px;
  text-align: center;
  color: #E5A46E;
  font-family: 'Oswald', sans-serif;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: black;
}

li a{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-family: fantasy;
  font-size:2vw;
}

li a:hover{
  background-color:#34776C;
}

.warper{
  display:flex;
}

.hobbie1{
  margin:30px auto 110px;
  border-style: solid;
  border-color: #E5A46E;
  border-radius: 15px;
  background-color: #E5A46E;
  width: 80%;
  height: 30%;
}

.hobbie2{
  border-style: solid;
  border-color: #DB595A;
  border-radius: 15px;
  background: #125669;
}

.hobbie3{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size:calc(100% + 0.5vw);
  margin:0;
}

.hobbie5{
  border-style: solid;
  border-color: #DB595A;
  border-radius: 15px;
  background-color: #E5A46E;
  width: 50%;
  height:100%;
  margin:10px;
  padding:10px;
  display: flex;
  min-height: 120px;
}

.hobbie6{
  margin:auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.hobbie7{
  border-style: solid;
  border-color: #DB595A;
  background-color: #E5A46E;
  display:flex;
  margin: 10px auto;
  max-width: 245px;
  max-height:150px;
}

.pic{
  display:flex;
  width:100%;
  height: 140px;
  background-size:cover;
  object-fit: contain;
}
